:root{
	--theme-text:#FFFFFF;
	--theme-text-200:oklab(0.941662 -0.00317116 -0.00594253);
	--theme-text-header:#4444444f;
	--accent-color:#FF4A17;
	--gray-color:rgb(39, 61, 78);
	--header-color:rgb(255, 255, 255);
	--heading-color:#273d4e;
	--list-color:#444444;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

img{
	display: block;
	width: 100%;
}

a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
	/* margin-right: 1.5rem; */
}

ul{
	list-style: none;
}


.row{
	display: flex;
	flex-wrap: wrap;
}

/* col start */

.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.32%;
}
.col-5{
	width: 41.65%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.31%;
}
.col-8{
	width: 66.64%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.3%;
}
.col-11{
	width: 91.63%;
}
.col-12{
	width: 100%;
}
/* col end */


/* margin start  */

/* margin top starts */
.mt-1{
	margin: 1rem;
} 

.mt-2{
	margin: 2rem;
}

.mt-3{
	margin: 3rem;
}

.mt-4{
	margin: 4rem;
}

.mt-5{
	margin: 5rem;
}
/* margin top ends  */

/* margin right(end) starts */
.me-1{
	margin-right: 1rem;
} 

.me-2{
	margin-right: 2rem;
}

.me-3{
	margin-right: 3rem;
}

.me-4{
	margin-right: 4rem;
}

.me-5{
	margin-right: 5rem;
}
/* margin right(end) ends */


/* margin bottom starts */
.mb-1{
	margin-bottom: 1rem;
} 

.mb-2{
	margin-bottom: 2rem;
}

.mb-3{
	margin-bottom: 3rem;
}

.mb-4{
	margin-bottom: 4rem;
}

.mb-5{
	margin-bottom: 5rem;
}
/* margin bottom ends */

/* margin left starts */

.ms-1{
	margin-left: 1rem;
} 

.ms-2{
	margin-left: 2rem;
}

.ms-3{
	margin-left: 3rem;
}

.ms-4{
	margin-left: 4rem;
}

.ms-5{
	margin-left: 5rem;
}
/* margin left ends */

/* margin-y starts */

.my-1{
	margin: 1rem 0;
} 

.my-2{
	margin: 2rem 0;
}

.my-3{
	margin: 3rem 0;
}

.my-4{
	margin: 4rem 0;
}

.my-5{
	margin: 5rem 0;
}
/* margin-y ends  */

/* margin-x starts */

.mx-1{
	margin: 1rem 0;
} 

.mx-2{
	margin: 2rem 0;
}

.mx-3{
	margin: 3rem 0;
}

.mx-4{
	margin: 4rem 0;
}

.mx-5{
	margin: 5rem 0;
}
/* margin-x ends  */
/* margin end */


/* padding starts */
/* padding top starts */
.pt-1{
	padding-top: 1rem;
} 

.pt-2{
	padding-top: 2rem;
}

.pt-3{
	padding-top: 3rem;
}

.pt-4{
	padding-top: 4rem;
}

.pt-5{
	padding-top: 5rem;
}
/* padding top ends  */

/* padding right starts  */
.pe-1{
	padding-right: 1rem;
} 

.pe-2{
	padding-right: 2rem;
}

.pe-3{
	padding-right: 3rem;
}

.pe-4{
	padding-right: 4rem;
}

.pe-5{
	padding-right: 5rem;
}
/* padding right ends */

/* padding bottom starts */
.pb-1{
	padding-bottom: 1rem;
} 

.pb-2{
	padding-bottom: 2rem;
}

.pb-3{
	padding-bottom: 3rem;
}

.pb-4{
	padding-bottom: 4rem;
}

.pb-5{
	padding-bottom: 5rem;
}
/* padding bottom ends */

/* padding left starts */
.ps-1{
	padding-left: 1rem;
} 

.ps-2{
	padding-left: 2rem;
}

.ps-3{
	padding-left: 3rem;
}

.ps-4{
	padding-left: 4rem;
}

.ps-5{
	padding-left: 5rem;
}
/* padding left ends */

/* padding y starts */

.py-1{
	padding: 1rem 0;
} 

.py-2{
	padding: 2rem 0;
}

.py-3{
	padding: 3rem 0;
}

.py-4{
	padding: 4rem 0;
}

.py-5{
	padding: 5rem 0;
}
/* padding y ends */

/* padding x starts */
.px-1{
	padding:0 1rem;
} 

.px-2{
	padding:0 2rem;
}

.px-3{
	padding:0 3rem;
}

.px-4{
	padding:0 4rem;
}

.px-5{
	padding:0 5rem;
}
/* padding x ends */

/* padding ends  */

/* display properties utility class starts */
.d-flex{
	display: flex;
}

.justify-space-between{
	justify-content: space-between;
}

.justify-center{
	justify-content: center;
}

.align-center{
	align-items: center;
}

.vh100{
	height: 100vh;
}

.flex-column{
	flex-direction: column;
}


/* display properties utility class ends */

/* header section  starts */

header{
	background-color: #0000000d;
	background-blend-mode: color;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
header h1{
	color: rgb(255, 255, 255);
	font-size: 1.875rem;
	font-weight: 700;
	line-height: 36px;
	font-family: "Raleway", sans-serif;
	cursor: pointer;
}

.navbar ul li {
	padding: 15px 14px;
}



.navbar ul li a{
	padding: 0 2px;
	font-size: 13px;
	font-weight: 500;
	line-height: 19.5px;
	font-family: "Inter", sans-serif;
	color: var(--theme-text-200);
	transition:  width 1s ease;	
	position: relative;
}

.navbar ul li a::after{
	position: absolute;
	left: 0;
	top: 20px;
	content: '';
	opacity: 0;
	height: 3px;
	width:0px;
	transition: all 0.3s ease-in-out;
	background-color: var(--accent-color);
}


.navbar ul li a:hover::after {
	width: 100%;
	opacity:1;
	left: 0;
}

.navbar ul>.primary-btn{
	border: 1px solid var(--theme-text);
	height: 2rem;
	color: var(--theme-text-200);
	margin-left: 3px;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	font-weight: 400;
	border-radius: 4px;
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	line-height: 19.5px;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}

.navbar ul>.primary-btn:hover{
	background-color: var(--accent-color);
}

.navbar  ul  li{
	position: relative;
}


/* positioning applied to dropdowm icon */
.navbar ul li:nth-child(6)::after,.dropdown-i ul li:nth-child(2)::after{
	content: '\f0d7';
	position: absolute;
	font-family:FontAwesome;
	left: 90%;
	top: 35%;
	font-weight: 500;
	font-size: 0.8rem;
	color: color(srgb 0.912605 0.929412 0.942857);
	margin-left: 1px;
}


.nav-item-6{
	position: relative;
}

/* styling applied to dropdowm */
.dropdown-i,.subdropdown-i{
	display: none;
	cursor: pointer;
	position: absolute;
	/* border: 2px solid red; */
	margin-top: 1rem;
	min-width: 12rem;	
	height: 13rem;
	border-radius: 5px;
	padding-left: 2px;
	background-color: #ffffffe8;
}

.navbar ul li:nth-child(6):hover >.dropdown-i{
	display: block;
	opacity: 1;
	visibility: visible;
}

.dropdown-i ul li a{
	color: var(--gray-color);
	/* padding-top: 0.3rem; */
}

/* to reduce space between two anchor links */
.dropdown-i ul li{
	padding-bottom: 5px;
}

/* icon after subdropdown link  */
.dropdown-i ul li{
	position: relative;
}

.dropdown-i  > ul > li:nth-child(2)::after{
	color: #000;
	top: 45%;
	left: 65%;
}


/* header section  end  */

/* hero section starts */

.hero{
	background: url('../images/hero-bg.jpg'),#000000a1;
	background-size: cover;
	background-blend-mode: color;
}

.hero-content h2{
	font-family: "Raleway", sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: var(--theme-text);
	margin: 0.5rem 0;
}

.hero-content p{
	font-size: 24px;
	font-weight: 400;
	color: var(--theme-text);
	font-family: "Roboto", sans-serif;
	color: color(srgb 1 1 1 / 0.8);
	margin: 15px;
}

.hero-content .hero-subcontent a:first-child{
	background-color: #FF4A17;
	font-weight: 400;
	color: var(--theme-text);
	font-size: 0.8rem;
	padding: 10px 30px;
	transition: all 0.1s ease-in-out;
	border-radius: 6px;
	font-family: "Roboto", sans-serif;
}

.hero-content .hero-subcontent a:first-child:hover{
	background-color: #e64d23;
	font-weight: 450;
}

.hero-content .hero-subcontent a:nth-child(3){
	font-size: 1.1rem;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	transition: all 0.3s ease-out;
	color: var(--theme-text-200);
	padding: 0 7px;
}

.hero-content .hero-subcontent a:nth-child(3):hover{
	color: #FF4A17;;
}

 .hero-subcontent .fa-solid{
	margin: 0 0 0 30px;
	padding: 0 px;
}


.fa-circle-play{
	color: #FF4A17;
	font-size: 2rem;
	font-weight: 400;
} 
/* hero section ends  */

/* about section starts */

.about-content-1 h2{
	font-weight: 700;
	font-size: 28px;
	font-family: "Raleway",sans-serif;
	line-height: 33.6px;
	color: var(--gray-color);
}

.about-content-1 img,.about-content-2 img{
	border-radius: 15px;
	margin-top: 1.5rem;
}

.about-content-1 p{
	margin-top: 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 1.5rem;
	font-family: "Roboto", sans-serif;
	line-height: 1.5rem;
	color: rgb(68, 68, 68);
}


.about-content-2{
	padding-left: 20px;
}


.about-content-2 h4{
	margin-left: 40px;
	font-size: 1rem;
	font-weight: 400;
	color: color(srgb 0.633333 0.633333 0.633333);
	font-family: "Roboto", sans-serif;
	line-height: 1.5rem;
	font-style: italic;
}

.about-list{
	font-size: 1rem;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	color: rgb(68, 68, 68);
	line-height: 1.5rem;
}

.about-list li{
	position: relative;
}


.about-list li::before{
	content: '\f058';
	font-family: FontAwesome;
	position: absolute; 
	left: -4%;
	top: 0%;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--accent-color);
}


.about-content-2 p{
	font-weight: 400;
	font-size: 1rem;
	color: var(--gray-color);
	line-height: 1.5rem;
	font-family: "Roboto", sans-serif;
}

.about-content-2 .about-img-styling{
	margin-left: 3rem;
}

.about-img-styling{
	position: relative;
}

.about-img-styling i{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	color: var(--accent-color);
	font-size: 5rem;
	box-shadow: 21px 0px 67px 66px #4d0c0c73;
	background-color: var(--accent-color);
	border-radius: 50%;
}

.playbtns


.playbtn i{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

/* about section ends  */

/* numbersection starts */


.stats{
	background-color: #F1F4FA;
	padding: 4rem 0rem;
}


.content{
	padding: 30px;
	/* border: 2px solid red; */
	width: 18rem;
	height: 8.5rem;
	background-color: var(--theme-text);
	box-shadow: 0px 5px 11px 4px rgba(0,0,0,0.1);
}

.stat-item span{
	font-size: 2rem;
	font-weight: 600;
	color: var(--gray-color);
	font-family: "Roboto", sans-serif;
}

.content i{
	font-size: 2.6rem;
	color: var(--accent-color);
	margin-right: 1.2rem;

}

 .stat-sub-item{
	margin-left: .5rem;
}

 .stat-sub-item p{
	padding-top: 0.5rem;
	color: var(--gray-color);
	font-weight: 400;
	font-size: 1rem;
	font-family: Raleway, sans-serif;
}

/* numbersection ends */


/* services section starts */




.service-heading h2{
	font-weight: 400;
	font-family: Raleway, sans-serif;
	color: var(--theme-text-header);
	display: inline-block;
	position: relative;
	padding-right: 10px;
	padding-bottom: 10px;
}


.service-heading h2::before{
	content: '';
	position: absolute;
	background-color: var(--accent-color);
	width: 120px;
	height: 2px;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
}

.service-heading p{
	color: var(--gray-color);
	font-size: 2rem;
	font-weight: 800;
	text-transform: uppercase;
}


.service-heading{
	position: relative;
}

.service-img img{
	border-radius: 10px;
	animation-name: img;
	animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
}


.details{
	position: relative;
	/* border: 2px solid red; */
	padding: 50px 30px;
    margin:-100px 30px 0 30px;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 25px rgba;
}

.service-icon{
	position: absolute;
	top: 0%;
	left: 50%;
	bottom: 100%;
	transform: translate(-50%,50%);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 42px;
	color: var(--accent-color);
	border-radius: 50px;
	cursor: pointer;
}

.details a h3{
	line-height: 24px;
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--heading-color);
	margin-bottom: 0%;
	transition: all 0.2s ease-in-out;
}

.details a:hover h3{
	color: var(--accent-color);
}

.details a p{
	font-size: 1rem;
	color: var(--gray-color);
	line-height: 24px;
}


/* client section starts */


.clients{
	background-color: #F1F4FA;
	padding: 10px 0px;
}

.clients-logo img{
	padding: 20px 40px;
	max-width: 90%;
	filter: grayscale(100%);
	opacity: 0.5;
	transition: 0.3s;
	cursor: pointer;
}

.clients-logo img:hover{
	filter: none;
	opacity: 1;
}

/* clients section ends  */


/* features header  starts */

.features .row{
	gap: 20px;
	flex-wrap: nowrap;
}



.link-1,.link-2,.link-3,.link-3,.link-4{
	padding: 25px 20px;
	white-space: nowrap;
	/* border: 2px solid black; */
	 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}
	
.feature-nav-link{
		transition: all 0.3s ease-in-out;	
}

.feature-nav-link .icon-1,.icon-2,.icon-3,.icon-4{
	font-size: 3rem;
	cursor: pointer;
	padding-right: 3px;
	color: inherit;
}


.feature-nav-link a{
	padding-left: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	font-family: Raleway, sans-serif;
	width: 90%;
	color: inherit;
}


/* hover properties starts */

.feature-nav-link:hover{
	border: 1px solid var(--accent-color);
	background-color: var(--accent-color);
	color: var(--theme-text);
}
/* hover properties ends  */
/* features header  ends */


/* feature content starts */

.feature-content-item h4{
	padding-bottom: 1rem;
	font-weight: 700;
	color: var(--heading-color);
	font-size: 1.5rem;
}

.feature-content-item .para-1,.para-2{
	color: var(--list-color);
	font-style: italic;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	margin-bottom: 1.5rem;
}

.feature-content-item ul li{
	margin-bottom: 20px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	color: var(--list-color);
	margin-left: 1rem;
}

.feature-content-item ul{
	position: relative;
}

.feature-content-item ul li::before{
	content: '\F26F';
	position: absolute;
	font-family: bootstrap-icons !important;
	left: 0%;
	transform: translateX(-50%);
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--accent-color);
}

.para-2{
	font-style: normal;
	padding-top: 0.8rem;
	padding-left: 0.5rem;
	line-height: 26px;
}

.feature-img img{
	width: 50%;
}

.feature-img img{
	width: 100%;
	padding-left: 2rem;
}
/* feature content ends */

/* services-2 section starts  */

.services-2{
	background-color: #F1F4FA;
	padding-bottom: 60px;
}

.services-2-heading h3{
	font-size: 1rem;
	font-weight: 500;
	font-family: Raleway, sans-serif;
	letter-spacing: 1.5px;
	position: relative;
	color: var(--theme-text-header);
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 5px;
}

.services-2-heading h3::after{
	content: '';
	position: absolute;
	width: 120px;
	height: 1px;
	background-color: var(--accent-color);
	opacity: 0.5;
	top: 50%;
    left: 100%;
    transform: translateY(-50%)
}

.services-2-heading p{
	font-size: 2rem;
	font-weight: 800;
	color: var(--gray-color);
}


/* services content starts */

.services-2-item{
	border: 1px solid var(--theme-text);
	padding: 20px;
	margin-top: 10px;
	background-color: var(--theme-text);
	cursor: pointer;
	margin-right: 30px;
	transition: all 0.3s ease-in-out;
}


.services-2-icon  i{
	font-size: 1.4rem;
	font-weight: 700;
	font-weight: 900;
	color: var(--accent-color);
}

.services-2-item a h3{
	font-family: Raleway, sans-serif;
	line-height: 1.4rem;
	color: var(--gray-color);
	padding-left: 1.5rem;	
}

.services-2-item p{
	padding-left: 3rem;
	font-size: 0.8rem;
	font-family: Raleway, sans-serif;
	line-height: 24px;
	color: inherit;
}

.services-2-item:hover{
	border: 2px solid var(--accent-color);
	/* color: var(--accent-color); */
}

.services-2-item:hover a > h3{
	color: var(--accent-color);
}


